header {
  text-align: center;
  font-size: 30px;
  color: #fda4c6;
  font-family: 'Satisfy', cursive;
}

main, html {
  margin: 0;
  padding: 0;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.button{
  text-align: center;
  color: #000000;
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Dancing Script', cursive;
} 

.button:hover {
  background-color: #f0cce7;
  cursor: pointer;
  font-weight: bolder;
}


.button:hover {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font: 2em 'Dancing Script', cursive;
}